extends layout

block content 

  legend= title
  form(method='post' id='myForm').needs-validation

    div.text-center
      if avatar
        img#avatar.rounded-circle.mx-auto.d-block(style='width:250px; height:250px;' src=avatar alt="avatar")
      else
        img#avatar.rounded-circle.mx-auto.d-block(style='width:250px; height:250px;' src="https://picsum.photos/1200/1200?random=50" alt="avatar")

      br 
      input(type='file' id='imageUpload' name='imageUpload' style='display: none;') 

      .mb-3  
        label.form-label(for='formFile') Avatar
        input.form-control(type='file' id='formFile' onchange='previewImage()')

    input(type='hidden' id='avatarInput' name='avatar')

    .mb-3
      label.form-label(for='email') Email address
      input.form-control(type='email' id='email' name='email' aria-describedby='email' value=primaryEmail)
    .mb-3
      label.form-label(for='password') Password
      input.form-control(type='password' id='password' name='password')
    .mb-3.form-check
      input.form-check-input(type='checkbox' id='exampleCheck1')
      label.form-check-label(for='exampleCheck1') Check me out
    .d-inline-flex.gap-3
      button.btn.btn-primary(type='submit') Submit

  script.
    function previewImage() {
      const file = document.getElementById('formFile').files[0];
      const reader = new FileReader();

      reader.onloadend = function() {
        document.getElementById('avatar').src = reader.result;
      }

      if (file) {
        reader.readAsDataURL(file);
      } else {
        document.getElementById('avatar').src = "";
      }
    }

    $(document).ready(function() { 
      $("#myForm").on('submit', function(event) {
        event.preventDefault();

        let formData = new FormData();
        formData.append('avatar', $('#formFile')[0].files[0]);
        formData.append('email', $('#email').val());
        formData.append('password', $('#password').val());

        $.ajax({
          type: "PUT",
          url: "/account",
          data: formData,
          processData: false,
          contentType: false,
          success: function(data) {
            alert("Image Uploaded Successfully!");
            $('#avatar').attr('src', URL.createObjectURL($('#formFile')[0].files[0]));
          },
          error: function(jqXHR, textStatus, errorMessage) {
            console.log(errorMessage); 
          }
        });
      });
    });

